<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>index</title>
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/index-grid.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body class="body page-index clearfix">
  <img class="image image-1" src="images/footer-logo.jpg">
  <img class="image image-2" src="images/loader.jpg">
  <p class="text text-1">Certificado de  conclusão do modulo de teste da plataforma Lg</p>
  <p class="text text-2">Certifico que &nbsp;Bruno concluiu o modulo e está apto a por seus conhecimentos em pratica</p>
</body>
</html>