body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Helvetica;
  color: rgb(154, 35, 35);
}

.image {
  display: block;
  float: left;
  height: auto;
  overflow: hidden;
}

.text {
  float: left;
  clear: both;
  text-align: center;
}

.image-1 {
  width: 307px;
  margin: 107px 0 0 10%;
}

.image-2 {
  width: 250px;
  margin: 34px 0 0 49.34375%;
}

.text-1 {
  margin: 170px 0 0 32.23264%;
  font-size: 1.375em;
  color: rgb(174, 44, 44);
}

.text-2 {
  margin: 278px 0 0 31.51042%;
  font-size: 1em;
  color: rgb(154, 35, 35);
}